{% extends "layout.html" %}

{% block script %}
<script>
    let tasks_name
    let tasks_color
    let tasks_fixed
    let schedule
    let empties = []
    let free_hours = 0

    function submit_progress_form(hour, day) {
        form_id = `progress_form_${hour}_${day}`
        
        if(schedule[Number(hour)][Number(day) - 1]['task_id'] != null && tasks_fixed[schedule[hour][day - 1]['task_id']] == "not_fixed") {
            
            document.getElementById(form_id).submit();
        } else if (tasks_fixed[schedule[hour][day - 1]['task_id']] == "fixed"){
            update_progress_radio(hour, day, schedule[hour][day - 1]['progress'])
        }
    }

    function hexToRgb(hex) {
        // Remove the hash if it exists
        hex = hex.replace(/^#/, '');

        // Parse the hex values
        const bigint = parseInt(hex, 16);

        // Extract RGB components
        const r = (bigint >> 16) & 255;
        const g = (bigint >> 8) & 255;
        const b = bigint & 255;

        return [r, g, b];
    }

    function select_random_empty(){
        if (empties.length > 0){
            
            let random_index = Math.floor(Math.random() * empties.length)
            
            random_element = empties[random_index]
            
            empties.splice(random_index, 1)

            return random_element
        } else {
            return null
        }
        
    }

    function scramble(form_id){
        console.log("Scramble!")

        goal_form = document.querySelector(form_id)
    
        

        let name = goal_form.elements['name'].value;
        let task_id = goal_form.elements['task_id'].value;
        let color = goal_form.elements['color'].value;
        let goal = goal_form.elements['goal'].value;

        console.log(name + " " + task_id + " " + color + " " + goal) 

        let task_count = 0
        // calculate number of task in schedule

        for (let i = 0; i < 24; i++){
            for (let j = 1; j < 8; j++){
                if (schedule[i][j - 1]['task_id'] == task_id){
                    task_count += 1
                }
            }
        }
        if (task_count >= goal){
            console.log("Goal reached")
            return false
        }
        
        for (let i = 0; i < (goal - task_count); i++){
            // get coordinates of an empty
            
            coords = select_random_empty()
            console.log(coords)
            schedule[coords['hour']][coords['day'] - 1]['task_id'] = task_id
            // now the magic happens
            updateDropdown(name, coords['hour'], coords['day'], color, task_id, true)
        }

        console.log("Scramble successfull")
        return false
    }

    function calculateBrightness(hexColor) {
        const [r, g, b] = hexToRgb(hexColor);
        const brightness = (r * 299 + g * 587 + b * 114) / 1000;
        return brightness;
    }
    function update_progress_radio(hour, day, progress){
        radio = document.querySelector(`input[name="progress_${hour}_${day}"][value="${progress}"]`);
        if(radio){
            radio.checked = true
        }
        
    }

    function clear_progress_radio(hour, day){
        radio_not_started = document.querySelector(`input[name="progress_${hour}_${day}"][value="not_started"]`);
        radio_started = document.querySelector(`input[name="progress_${hour}_${day}"][value="started"]`);
        radio_done = document.querySelector(`input[name="progress_${hour}_${day}"][value="done"]`);
        radio_not_started.checked = false
        radio_started.checked = false
        radio_done.checked = false
        
    }

    function updateDropdown(selectedValue, hour, day, color, task_id, updating) {
      // Update the button text with the selected value
      button_id = "#drop_" + hour + "_" + day
      button = document.querySelector(button_id)
      button.innerHTML = selectedValue
      button.style.backgroundColor = color
      brightness = calculateBrightness(color)
      

      if (brightness > 128) {
        // Light background, switch to dark text
        button.classList.add('light-background');
      }

      

      if (updating){
    

        (async() => {
            free_hours -= 1
            document.querySelector("#free_hours").innerHTML = free_hours

            if(tasks_name[task_id] == "___NULL___"){
                clear_progress_radio(hour, day)
            } else if (tasks_fixed[task_id] == "fixed"){
                update_progress_radio(hour, day, "done")
            } else {
                update_progress_radio(hour, day, "not_started") // TODO: set it to not_started if not fixed
            }
            const response = await fetch('/update_schedule', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                task_id: task_id,
                day: day,
                hour: hour
                })
            });
            const update_response = await response.json();
            console.log(update_response)
        })();
      }
    }

    

    document.addEventListener("DOMContentLoaded", async() => {
        console.log("making request");
        async function fetchTasks(){
            let response = await fetch("/get_tasks");
            let tasks = await response.json();
            return tasks;

        }

        async function fetchSchedule(){
            let response = await fetch("/get_schedule");
            let response_json = await response.json();
            return response_json;

        }

        tasks = await fetchTasks();
        tasks_name = tasks[0]
        tasks_color = tasks[1]
        tasks_fixed = tasks[2]

        schedule = await fetchSchedule()
        console.log(schedule)
        
        for (let i = 0; i < 24; i++){
            for (let j = 1; j < 8; j++){
                
                if (schedule[i][j - 1]['task_id'] != null && tasks_name[schedule[i][j - 1]['task_id']] != "___NULL___"){

                    updateDropdown(tasks_name[schedule[i][j - 1]['task_id']], i, j, tasks_color[schedule[i][j - 1]['task_id']], schedule[i][j - 1]['task_id'], false)
                    update_progress_radio(i, j, schedule[i][j - 1]['progress'])
                }
                else {
                    // add block to empties
                    free_hours += 1
                    empties.push({
                        'hour': i,
                        'day': j
                    })
                    updateDropdown("", i, j, "grey", schedule[i][j - 1]['task_id'], false)
                }
            }
        }

        document.querySelector("#free_hours").innerHTML = free_hours

    });

  </script>
{% endblock %}

{% block main %}

<h2>Schedule</h2>

    <table class="table">
        <tr>
            <th>Time</th>
            <th>Sunday</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
        </tr>
        {% if True %}
            {% for hour in range(0, 24) %}
            <tr>
                <td>{{ hour }}:00</td>

                {% for day in range(1, 8) %}
                    <td>
                        <div class="dropdown">
                            <button style="border-color: #ffffff" class="btn btn-secondary dropdown-toggle outlined-text" type="button" id="drop_{{hour}}_{{day}}" data-bs-toggle="dropdown" aria-expanded="false">
                            </button>
                            <ul class="dropdown-menu">
                                {% for task in tasks %}
                                    {% if task['name'] != '___NULL___'%}
                                        <li><a class="dropdown-item" href="#" onclick="updateDropdown('{{ task['name'] }}', {{hour}}, {{day}}, '{{task['color']}}', {{task['task_id']}},true)">{{ task['name'] }}</a></li>
                                    {% else %}
                                    <li><a class="dropdown-item" href="#" onclick="updateDropdown('', {{hour}}, {{day}}, 'grey', {{task['task_id']}},true)">Clear</a></li>
                                    {% endif%}
                                {% endfor %}
                                
                            </ul>
                            
                        </div>
                        <form id="progress_form_{{hour}}_{{day}}" action="/update_progress" method="post">
                            <input type="hidden" name="hour" value="{{hour}}">
                            <input type="hidden" name="day" value="{{day}}">
                            <input type="hidden" name="radio_name" value="progress_{{hour}}_{{day}}">
                            <input style="accent-color: #fa485a" type="radio" name="progress_{{hour}}_{{day}}" value="not_started" onchange="submit_progress_form({{hour}}, {{day}})">
                            <input style="accent-color: #faf148; border-color: 'white'" type="radio" name="progress_{{hour}}_{{day}}" value="started" onchange="submit_progress_form({{hour}}, {{day}})">
                            <input style="accent-color: #78fa48" type="radio" name="progress_{{hour}}_{{day}}" value="done" onchange="submit_progress_form({{hour}}, {{day}})">
                        </form>
                        
                    </td>
                {% endfor %}

            </tr>
            {% endfor %}
        {% endif %}
    </table>

    <h2 style="padding-top: 10px" >Bulk set</h2>

    {% set day_names = ['S', 'M', 'T', 'W', 'T', 'F', 'S'] %}

    <div style="padding-top: 5px">
        {% for day in range(1, 8) %}
            <label style="padding-right: 3px" for="day_{{ day }}">{{ day_names[day-1] }}</label>
        {% endfor %}
    </div>
    <form action="/bulk_set" method="post">
    <div>
        
        {% for day in range(1, 8) %}
            <input id="day_{{ day }}" name="day_{{ day }}" type="checkbox">
        {% endfor %}
    </div>

    <div style="padding-top: 5px">
        <label style="padding-right: 3px" for="start">Start</label>
        <select name = "start">
            {% for hour in range(0, 24) %}
                <option value = "{{hour}}">{{hour}}:00</option>
            {% endfor %}
        </select>
        <label style="padding-left: 3px" for="end">End (including)</label>
        <select name = "end">
            {% for hour in range(0, 24) %}
                    <option value = "{{hour}}">{{hour}}:00</option>
            {% endfor %}
        </select>
    </div>
    <div style="padding-top: 5px; padding-bottom: 5px">
        <label style="padding-left: 3px" for="task">Task</label>
        <select name = "task_id">
            {% for task in tasks %}
                {% if task['name'] != '___NULL___'%}
                    <option value = "{{task['task_id']}}">{{task['name']}}</option>
                {% else %}
                    <option value = "{{task['task_id']}}">Clear</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    <button style="padding-top: 5px"  class="btn btn-primary" type="submit">Bulk set</button>
    </form>


    <h2 style="padding-top: 10px" >Goals</h2>
        <table class="table">
            <tr>
                <th>Free Hours</th>
            </tr>
            <tr>
                <td id="free_hours"></td>
            </tr>
        </table>
        <table class="table">
            <tr>
                <th>Task</th>
                <th>Hours</th>
            </tr>

            {% for task in tasks %}
                {% if task['fixed'] == "not_fixed" and task['name'] != "___NULL___"%}
                <tr>
                    <form id="goal_form_{{task['task_id']}}" onsubmit="return scramble('#goal_form_{{task['task_id']}}')">
                        <td>{{ task['name'] }}</td>
                        <td>
                            <input type="hidden" name="task_id" value="{{task['task_id']}}">
                            <input type="hidden" name="color" value="{{task['color']}}">
                            <input type="hidden" name="name" value="{{task['name']}}">
                            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="goal" type="number">
                        </td>
                        <td><button  class="btn btn-primary" type="submit">Scramble</button></td>
                    </form>
                </tr>
                {% endif %}
            {% endfor %}
        </table>
        
    

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p id="error">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}


{% endblock %}
