{% extends "layout.html" %}

{% block main %}

    <form action="/login" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="password" placeholder="Password" type="Text">
        </div>
        <button  class="btn btn-primary" type="submit">Log in</button>
    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p id="error">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

{% endblock %}
